<h1>New task</h1>

<form method="post" action="">
<label for="Name"> Name :</label>
<input type="text" name="name" id="Name" />
<label for="Details"> Details :</label>
<input type="text" name="details" id="Details" />
<input type="submit" value="Create" />
</form>
